* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	line-height: 1.5;
	color: #cfd2da;
	width: 100%;
	height: 100%;
    background-color: #252830;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.wrapper.auth {
	width: 500px;
}
.page-title {
	margin: 0 0 25px 0;
	padding-bottom: 5px;
    font-weight: normal;
    border-bottom: 1px solid #434857;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 80px;
}
.auth .header {
    width: 280px;
    margin: 0 auto;
}
.logo {
	float: left;
    height: 90px;
    width: 100px;
    font-size: 35pt;
    padding-top: 20px;
    text-align: center;
}
.logo-desc {
	float: left;
    padding-top: 35px;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}
.header-menu {
	height: 55px;
    padding-top: 40px;
    float: right;
}
.header-menu li {
    display: inline-block;
}
.header-menu li a {
    position: relative;
    display: block;
    padding: 7px 15px;
    border-radius: 4px;
    color: #cfd2da;
    font-size: 10pt;
    text-decoration: none;
}
.header-menu li a:hover, .header-menu li a:focus {
    color: #fff;
    background-color: #434857;
}
.header-menu li.active a, .header-menu li.active a:hover, .header-menu li.active a:focus {  
    font-weight: bold;
    color: #252830;
    background-color: #1ca8dd;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 270px 0 0;

}
.auth .content {
	text-align: center;
	padding: 0;
	width: 160px;
    margin: 0 auto;
}
.content-blocks {
	margin-top: 30px;
    overflow: hidden;
}
.content-blocks .first {
	margin-top: 0;
}

.auth-container {
	position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
input:focus {
	outline: none;
}
input[type=text], input[type=password] {
	padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #434857;
    border-radius: 4px;
    display: block;
    color: #1ca8dd;
    margin-bottom: 20px;
}

input[type=submit] {
	color: #1997c6;
    background-color: transparent;
    border-color: #1997c6;
    color: #1997c6;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #1ca8dd;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
}
.user-pic {
    float: left;
}
.user-pic img {
    width: 180px;
    border-radius: 90px;
}
.user-info {
    margin-left: 215px;
}
.user-info h2 {
    font-size: 20pt;
}
.user-about {
    clear: both;
    padding-top: 20px;
}
.by {
    margin-bottom: 20px;
    padding-left: 0;
}
.ty:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.ty {
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #434857;
}
a.ph, button.ph {
    color: #cfd2da;
    text-decoration: none;
}
a.ph:hover, button.ph:hover, a.ph:focus, button.ph:focus {
    color: #cfd2da;
    background-color: #434857;
}
.ph {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid #434857;
}
.ph:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.ph:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dy {
    float: right !important;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: right;
	width: 250px;
	margin-left: -25%;
	position: relative;
}
.nav li {
	margin-top: 5px;
    display: block;
}
.nav li a {
    position: relative;
    display: block;
    padding: 7px 15px;
    border-radius: 4px;
    color: #cfd2da;
    text-decoration: none;
}
.nav li a:hover, .nav li a:focus {
    color: #fff;
    background-color: #434857;
}
.nav li.active a, .nav li.active a:hover, .nav li.active a:focus {  
    font-weight: 500;
    color: #252830;
    background-color: #1ca8dd;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1024px;
	margin: -75px auto 0;
	height: 50px;
	position: relative;
	padding-top: 25px;
	text-align: center;
}